# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno then run:
# - `deno fmt`
# - `deno lint`
# - `deno check`
# For more information see: https://github.com/denoland/setup-deno

name: Deno

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: latest
          cache: true

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Check types
        run: deno check --frozen=true *.ts

      # - name: Run tests
      #   run: deno test -A
